:root{   
    --cor-detalhe1: #60a28c;
    --cor-detalhe2: #f8dfdf;
    --cor-detalhe3: #e16464;
    --cor-botao: #c8e5db;
    --cor-botaoHover: #114c43;
    --cor-fundo: #fff9f9;
    --cor-fundoSecundario: #fdf0f0dd;
    --cor-letra: #fafafa;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background: var(--cor-fundo);
}