.categoria{
    padding: 3rem 4rem;
}
.categoria__titulo{
    font-size: 2rem;
    color: var(--cor-detalhe1);
    margin-bottom: 1rem;
}
.categoria__divisao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoria__subtitulo{
    font-size: 1.25rem;
    color: var(--cor-detalhe3);
    margin-block: 2rem;
    text-transform: uppercase;
}
.categoria__todosProdutos{
    font-size: 13px;
    color: var(--cor-detalhe1);
    font-weight: 600;
    text-decoration: underline;
}
.categoria__todosProdutos:hover{
    color: var(--cor-botaoHover);
}
.categoria__lista{
    display: flex;
    flex-wrap: wrap;
}

.categoria__item{
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 1rem;
    justify-content: center;
    border-radius: 0.25rem;
    margin-left: 2rem;
    box-shadow: 1px 4px 10px 1px var(--cor-detalhe2);
}
.categoria__imagem{
    margin: 0 auto;
    width: 85px;
    height: 110px;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}
.categoria__nome{
    font-size: 12px;
    font-weight: 700;
    color: var(--cor-detalhe3);
    line-height: 0.60rem;
    margin-bottom: 0.65rem;
}
.categoria__preco{
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-detalhe1);
}
.categoria__categoria{
    text-align: end;
    font-size: 11px;
    text-decoration: underline;
    font-weight: 600;
}
.categoria__botao{
    color: var(--cor-detalhe1);
    text-decoration: underline;
}
.categoria__botao:hover{
    color: var(--cor-botaoHover);
}