.categoria{
    padding: 3rem 4rem;
}
.categoria__titulo{
    font-size: 2rem;
    color: var(--cor-detalhe1);
    margin-bottom: 1rem;
}
.categoria__divisao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoria__subtitulo{
    font-size: 1.25rem;
    color: var(--cor-detalhe3);
    margin-block: 2rem;
    text-transform: uppercase;
}
.categoria__todosProdutos{
    font-size: 13px;
    color: var(--cor-detalhe1);
    font-weight: 600;
    text-decoration: underline;
}
.categoria__todosProdutos:hover{
    color: var(--cor-botaoHover);
}
.categoria__lista{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.categoria__item{
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 1rem;
    margin-left: 1.25rem;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 1px 4px 10px 1px var(--cor-detalhe2);
    margin-bottom: 1rem;
    height: 230px;
}
.categoria__itemIndex{
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 1rem;
    margin-left: 1.25rem;
    justify-content: center;
    border-radius: 0.25rem;
    box-shadow: 1px 4px 10px 1px var(--cor-detalhe2);
    margin-bottom: 1rem;
    height:180px;
}
.categoria__imagem{
    margin: 0 auto;
    width: 85px;
    height: 110px;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}
.categoria__nome{
    font-size: 0.65rem;
    font-weight: 700;
    color: var(--cor-detalhe3);
    line-height: 0.80rem;
    margin-bottom: 0.65rem;
    text-transform: uppercase;
}
.categoria__preco{
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-detalhe1);
}
.categoria__categoria{
    color: var(--cor-botaoHover);
    margin-top: 0.75em;
    font-size: 0.60rem;
    text-decoration: underline;
    font-weight: 600;
}
.categoria__divisaoBotao{
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
}
.categoria__editar, .categoria__excluir{
    color: var(--cor-botao);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.15rem;
}
.categoria__editar:hover, .categoria__excluir:hover{
    color: var(--cor-botaoHover);
}
.categoria__botaoCadastrar{
    color: var(--cor-detalhe1);
    text-decoration: underline;
}
.categoria__botaoCadastrar:hover{
    color: var(--cor-botaoHover);
}

@media screen and (max-width:555px) {
    .categoria__divisao{
        flex-direction: column;
    }
    .categoria__botaoCadastrar{
        margin-bottom: 1rem;
    }
}
@media screen and (min-width:556px) and (max-width:768px) {
    .categoria__lista{
        justify-content: center;
    }
    .categoria__item{
        margin-right: 1.5rem;
    }
}