.principal{
    width: 100%;
    height: 76vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal__box {
    background: var(--cor-detalhe1);
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 2rem 5rem;
    text-align: center;
    width: 500px;
    }
.principal__titulo, .principal__icone{
    color: var(--cor-fundo);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.principal__link{
    color: var(--cor-detalhe2);
    text-decoration: underline;
}
.principal__link:hover{
    color: var(--cor-botaoHover);

}