.produto{
    padding: 3rem 4rem;
}
.produto__titulo{
    font-size: 2rem;
    color: var(--cor-detalhe1);
    margin-bottom: 1rem;
}
.produto__divisao{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.produto__subtitulo{
    font-size: 1.25rem;
    color: var(--cor-detalhe3);
    margin-block: 2rem;
    text-transform: uppercase;
}
.produto__botao{
    font-size: 13px;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--cor-botao);
    border-radius:0.95rem 0.25rem;
    }
.produto__botao:hover{
    background: var(--cor-botaoHover);
    color:var(--cor-letra);
}
.produto__lista{
    display: flex;
    flex-wrap: wrap;
}

.produto__item{
    display: flex;
    flex-direction: column;
    width: 130px;
    padding: 1rem;
    justify-content: center;
    border-radius: 0.25rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px 1px var(--cor-detalhe2);
}
.produto__imagem{
    margin: 0 auto;
    width: 85px;
    height: 110px;
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
}
.produto__nome{
    font-size: 12px;
    font-weight: 700;
    color: var(--cor-detalhe3);
    line-height: 0.60rem;
    margin-bottom: 0.65rem;
}
.produto__preco{
    font-size: 18px;
    font-weight: 700;
    color: var(--cor-detalhe1);
}
.produto__codigo{
    text-align: end;
    font-size: 11px;
    text-decoration: underline;
    font-weight: 600;
}